<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>JohnElsonPT</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">John Elson PT</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">
        <div class="col-lg-6">
          <form class="" action="/" method="post">
            <button class="btn btn-outline-light btn-lg download-button" name="appointmentBtn" type="submit"> Appointments </button>
          </form>
          </div>
      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-fingerprint fa-5x"></i>
          <h2 class="feature-title">Individualized Care</h2>
          <h3 class="feature-subheading graytxt">Patient centered approach.</h3>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-search fa-5x"></i>
          <h2 class="feature-title">Evidenced Based</h2>
          <h3 class="feature-subheading graytxt">Research backed treatment methods.</h3>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-thumbs-up fa-5x"></i>
          <h2 class="feature-title">One on One</h2>
          <h3 class="feature-subheading graytxt">The way therapy should be.</h3>
        </div>
      </div>


    </div>
  </section>


  <!-- Carousel -->

  <section class="colored-section" id="carousel">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">Offering virtual and clinic based appointments.</h2>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text"> Committed to first-rate patient care.</h2>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>




  <!-- About -->

  <section class="white-section" id="about">

    <div class="row">

      <div class="about-column col-lg-4 col-md-6 col-md-12">
        <div class="card">
          <div class="card-header">
          <h2 class = "card-title">Experience</h2>
          </div>
          <div class="card-body ">
            <h3 class="card-text graytxt top">4+ years</h3>
            <br>
            <h3 class="card-text graytxt btm">The bulk of my experience is in the outpatient setting. I have worked with patients
              from pediatric to geriatric.</h3>
          </div>
        </div>
      </div>

      <div class="about-column col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class = "card-title">Education</h2>
          </div>
          <div class="card-body ">
            <h3 class="card-text graytxt top">Doctor of Physical Therapy</h3>
            <h3 class="card-text graytxt">Winston Salem State University</h3>
            <br>
            <h3 class="card-text graytxt">B.S. Health Education and Promotion</h3>
            <h3 class="card-text graytxt btm">East Carolina University</h3>
          </div>
        </div>
      </div>

      <div class="about-column col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class = "card-title">Certifications</h2>
          </div>
          <div class="card-body">
            <h3 class="card-text graytxt top">Certified Myofascial Trigger Point Therapist</h3>
            <br>
            <h3 class="card-text graytxt">FMT Blades – IASTM Certification</h3>
            <br>
            <h3 class="card-text graytxt btm">CPR/BLS</h3>
          </div>
        </div>
      </div>



    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="services">

    <div class="container-fluid">

      <h2 class="services-heading">Services</h2>
      <h3>Orthopedics</h3>
      <h3>Post Operative</h3>
      <h3>Dry Needling</h3>
      <h3>Vestibular Rehabilitation</h3>
      <h3>Pediatrics</h3>
      <h3>Geriatrics</h3>
      <h3>Deconditioning</h3>
      <h3>Fall Prevention</h3>
      <h3>Pre-work Screens</h3>
      <h3>Work Conditioning</h3>
    </div>
  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <h3>Contact Links</h3>
      <a target="_blank" href="https://www.instagram.com/johnelsonpt/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
      <a href="mailto:johnelsondpt@gmail.com"><i class="social-icon fas fa-envelope fa-2x"></i></a>
    </div>
  </footer>


</body>

</html>
